.bg {
  background-image: url("../asset/header-01.jpg");
  background-size: cover;
  background-position: center;
}
.side {
  background-image: url("../asset/sideimg.jpg");
  background-size: cover;
  background-position: center;
  margin-top: -180px;
  z-index: -1;
}
.mountains {
  background-image: url("../asset/mountains.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
}

.cool-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}

.cool-link:hover::after {
  width: 100%;
  /* //transition: width .3s; */
}

.cool-links {
  display: inline-block;
  color: #02c39a;
  text-decoration: none;
}

.cool-links::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #02c39a;
  transition: width 0.3s;
}

.cool-links:hover::after {
  width: 100%;
  /* //transition: width .3s; */
}

#simple-tab-1:focus {
  color: black !important;
}
#simple-tab-0:focus {
  color: black !important;
}

.css-1aquho2-MuiTabs-indicator {
  background-color: #02c39a !important;
}

#myCheckbox {
  appearance: none; /* Remove default checkbox appearance */
  width: 30px;
  height: 30px;
  border-radius: 50%; /* Make the box circular */
  border: 3px solid #02c39a; /* Add a border */
  outline: none; /* Remove the outline when the checkbox is focused */
  cursor: pointer; /* Add a pointer cursor */
}

/* Style the checkbox when it's checked */
#myCheckbox:checked {
  background-color: #02c39a;
}

#myCheckboxs {
  appearance: none; /* Remove default checkbox appearance */
  width: 30px;
  height: 30px;
  border-radius: 50%; /* Make the box circular */
  border: 3px solid #02c39a; /* Add a border */
  outline: none; /* Remove the outline when the checkbox is focused */
  cursor: pointer; /* Add a pointer cursor */
}

/* Style the checkbox when it's checked */
#myCheckboxs:checked {
  background-color: #02c39a;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  color: #02c39a !important;
}

.hvr-bounce-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #02c39a;
  border-radius: 50px;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-top:hover,
.hvr-bounce-to-top:focus,
.hvr-bounce-to-top:active {
  color: white;
}
.hvr-bounce-to-top:hover:before,
.hvr-bounce-to-top:focus:before,
.hvr-bounce-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

@media (max-width: 575.98px) {
  #myCheckboxs {
    height: 22px !important;
  }
}
